node_modules/
dist/
.next/
.expo/
build/
*.log
.env
.env.local
.env.*.local
.DS_Store
coverage/
.turbo/
*.tsbuildinfo
prisma/migrations/
!.prisma/migrations/migration_lock.toml
supabase/
firebase-debug.log
android/app/google-services.json
ios/GoogleService-Info.plist
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
